@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');

body {
  font-family: 'Raleway';
}

html {
  background-color: #E8E9F3 !important;
}

h1 {
  font-size: 50px;
}

h2 {
  color: rgb(10, 30, 20);
  font-weight: 300;
}

p {
  color: #898787;
  line-height: 5px;
}

a {
  text-decoration: none;
}

a:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
}

.card {
  background-color: whitesmoke;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
  border-radius: 5px;
  width: 550px;
}

#quote {
  color: #A6A6A8;
}

h1 {
  color: #272635;
  font-weight: 700;
}

.card-profile>img {
  width: 150px;
}

.img-circle {
  border-radius: 50%;
}

.center {
  text-align: center;
}

.display-inline>li {
  display: inline-block;
  list-style: none;
  padding: 0px 10px;
}

.card-hobby {
  position: relative;
  margin: 20px auto;
}

.card-hobby img {
  width: 385px;
}

.card-hobby-2 img {
  width: 100px;
  height: 150px;
}

.top-img {
  position: absolute;
  opacity: 0;
  right: 112.5px;
  transition: all 2s ease;
}

.top-img:hover {
  opacity: 1;
}

.footer img {
  height: 70px;
}

.footer a:hover {
  opacity: 0.8;
}
