@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');

body {
  font-family: 'Raleway';
  background-color: #E8E9F3;
}

html {
  background-color: #E8E9F3 !important;
}

h1>a {
  font-size: 50px;
  font-weight: 700;
  box-shadow: inset 0 0 0 0 #bbbfe8;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  place-items: center;
  color: #272635;
}

h1>a:hover {
  color: #fff;
  box-shadow: inset 500px 0 0 0 #a1a7e3;
}

h2 {
  color: rgb(10, 30, 20);
}

p {
  color: #898787;
}

.card-main {
  background-color: whitesmoke;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
  border-radius: 5px;
  width: 80%;
  z-index: -2;
}

a {
  text-decoration: none;
}

a:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
}

#quote {
  color: #A6A6A8;
}

.button {
  text-decoration: none;
  color: inherit;
}

.button:hover {
  opacity: 0.8;
  color: black;
  box-shadow: none;
}

.flex-images {
  display: flex;
  margin: 0 auto;
}

.avatar {
  width: 150px;
  padding-bottom: 16px;
}

.center {
  margin: 0 auto;
}

.poppy-image {
  height: 50vh;
  margin: 0 auto;
}

.display-inline>li {
  display: inline-block;
  list-style: none;
  padding: 0 8px;
}

.footer>li>a>i {
  color: #a1a7e3;
  font-size: 30px;
}

.footer>li>a>i:hover {
  color: #848ad6;
}

.hobby-image {
  width: 100px;
  height: 150px;
}

#GIF {
  width: 50vw;
  margin: 0 auto;
}

/* Content from: https://sharkcoder.com/visual/underline */
:root {
  /* The intrinsic width of the underline stroke (in pixels). This is
   * the same as the height of the cap images. Don't specify the
   * units! This is because of some of the calculations we do later on. */
  --underline-intrinsic-width: 8;

  /* The actual width of the underline stroke we want to render (in pixels).
   * You can modify this, and the sizing and positioning should be calculated
   * accordingly. Again, Don't specify the units! */
  --underline-width: 2;

  /* The color used to draw the underline. It should match the color
   * used in the cap images... unfortunately we can't modify the SVG
   * fill via CSS because it's a background image. */
  --underline-color: #a1a7e3;

  /* We need to know the width of the cap images so that we
   * can position everything on the x axis accordingly. */
  --underline-cap-width: 4px;

  /* The border is positioned relative to the bottom of the line.
   * We can move it upwards a little to create an overlap effect. */
  --underline-offset-y: -2px;

  /* The padding to add to the x axis. By default, the caps would be
   * aligned with the beginning and end of the line. */
  --underline-padding-x: 0.12em;
}

.text {
  display: inline;
  --underline-width-scale: calc(var(--underline-width) / var(--underline-intrinsic-width));
  padding: 0 calc(var(--underline-padding-x) + calc(var(--underline-cap-width) * var(--underline-width-scale)));
  box-decoration-break: clone;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(180deg, var(--underline-color), var(--underline-color)),
    var(--cap-image-left),
    var(--cap-image-right);
  background-position-x:
    calc(var(--underline-cap-width) * var(--underline-width-scale)),
    0,
    100%;
  background-position-y: calc(100% - var(--underline-offset-y) * -1);
  background-size:
    calc(100% - calc(var(--underline-cap-width) * var(--underline-width-scale) * 2)) calc(var(--underline-width) * 1px),
    auto calc(var(--underline-width) * 1px),
    auto calc(var(--underline-width) * 1px);

  font-size: 2rem;
  font-weight: bold;
  --underline-width: 12;
  --underline-offset-y: -2px;
  /* The cap images to use that form the left and right shape.*/
  --cap-image-left: url(https://files-6lc03kjqt.now.sh/left-2.svg);
  --cap-image-right: url(https://files-e7gkh52mq.now.sh/right-2.svg);
}

@media(max-width: 992px) {
  h1>a {
    font-size: 30px;
  }

  .text {
    font-size: 25px;
  }

  .hobby-image {
    width: 50px;
    height: 75px;
  }
}


@media(min-width: 992px) {
  #GIF {
    width: 30vw;
  }
}
